<div class = "pacients-container">
<h2>Lista Pacienti</h2>

@if (pacients().length > 0) {
  <ul class = "pacient-grid">
    @for (pacient of pacients(); track pacient.id) {
      <li>
        <div class = "pacient-card">
        <div class = "pacient-name">{{ pacient.name }}</div>  
        <span class = "pacient-email">{{ pacient.emailAddress }}</span>
        <span class = "pacient-telNumber">{{ pacient.telNumber }}</span>
        @if(getUserRole() == "Admin"){
          <button class = "btn-delete-pacient" (click)="deletePacient(pacient.id)">Delete</button>
        }
        </div>
      </li>
    }
  </ul>
} @else {
  <p>Nu există pacienti în listă</p>
}

<div class="form-group-inline">
  <input class = "form-control" [(ngModel)]="newPacient.name" placeholder="Full Name" />
  <input class = "form-control" [(ngModel)]="newPacient.emailAddress" placeholder="Email Address" />
  <input class = "form-control" [(ngModel)]="newPacient.telNumber" placeholder="Phone Number" />
  <button class = "btn-add-pacient" (click)='addPacient()'>Add pacient</button>
</div> 
</div>