@if(userRole()){
<nav class="navbar">
  <div class="nav-links">
    <a routerLink="/home" routerLinkActive="active-link">Home</a>
    
    @if (userRole() === 'Admin'){
      <a routerLink="/medics" routerLinkActive="active-link">Medics</a>
      <a routerLink="/appointments" routerLinkActive="active-link">Appointments</a>
      <a routerLink="/pacients" routerLinkActive="active-link">Pacients</a>
    }

    @if (userRole() === 'Pacient'){
      <a routerLink="/medics" routerLinkActive="active-link">Medics</a>
      <a routerLink="/appointments" routerLinkActive="active-link">Appointments</a>
    }
  </div>

  <div class="nav-actions">
    <span class="user-badge">{{ userRole() }}</span>
    <button class="btn-logout" (click)="logout()">Logout</button>
  </div>
</nav>
}

<router-outlet></router-outlet>