<h2>Echipa noastră de medici</h2>

@if (medics().length > 0) {
  <ul>
    @for (medic of medics(); track medic.id) {
      <li>
        <strong>{{ medic.name }}</strong> - {{ medic.fieldOfWork }}
        @if(getUserRole() === "Admin"){
        <button (click)="deleteMedic(medic.id)">Delete</button>
      }
      </li>
    }
  </ul>
} @else {
  <p>Nu există medici în listă sau se încarcă...</p>
}

@if(getUserRole() === "Admin"){
<div class="form-container">
  <input [(ngModel)]="newMedic.name" placeholder="Medic's Full Name" />
  <input [(ngModel)]="newMedic.fieldOfWork" placeholder="Field of work" />
  <button (click)='saveMedic()'>Add medic</button>
</div>
}